<!-- CONTACT -->
<section class="contact py-5" id="contact">
  <div class="container">
    <div class="row">

      <div class="col-lg-5 mr-lg-5 col-12">
        <div class="w-100">
         
               <img src="./assets/images/project/fotoContato.png" width="100%" height="200" class="img-fluid" alt="svg image">
          
          </div>

        <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
          <div class="contact-info-item">
            <h3 class="mb-3 text-white">Coders Negócios</h3>
            <p class="footer-text mb-0">(Telefone)</p>
            <p><a href="mailto:contato@codersnegocios.com.br">contato@codersnegocios.com.br</a></p>
          </div>

          <ul class="social-links">
            <li><a   class="uil uil-dribbble" data-toggle="tooltip" data-placement="left" title="Empresa"></a>
            </li>
            <li><a  class="uil uil-phone" data-toggle="tooltip" data-placement="left" title="Telefone"></a>
            </li>
            <li><a  class="uil uil-mailbox-alt" data-toggle="tooltip" data-placement="left" title="Email"></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="contact-form">
          <h4 class="mb-4">Interessado no nosso Trabalho? Tire suas dúvidas e solicite um orçamento sem compromisso! </h4>

          <form action="" method="get">
            <div class="row">
              <div class="col-lg-6 col-12">
                <input type="text" class="form-control" name="name" placeholder="Seu Nome/Empresa" id="name">
              </div>

              <div class="col-lg-6 col-12">
                <input type="email" class="form-control" name="email" placeholder="Email de contato" id="email">
              </div>

              <div class="col-12">
                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Messagem"></textarea>
              </div>

              <div class="ml-lg-auto col-lg-5 col-12">
                <input type="submit" class="form-control submit-btn" value="Enviar">
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>