<!-- FEATURES -->
<section class="resume py-5 d-md-flex justify-content-center align-items-center" id="resume">
  <div class="container">
    <div class="row">

      <div class=" col-md-12">
        <h2 class="mb-4">Especialidades</h2>

        <div class="timeline col-md-6" style="display: -webkit-box!important;">
          <div class="">
            <div class="timeline-yr">
              <span>Completos</span>
            </div>
            <div class="timeline-info">
              <h3><span>Softwares Completos</span></h3>
              <p>Criamos Softwares completos para todas suas necessidades.</p>
            </div>
          </div>

          <div class="">
            <div class="timeline-yr">
              <span>Intuitivos</span>
            </div>
            <div class="timeline-info">
              <h3><span>Fáceis de Usar</span></h3>
              <p>Criamos Softwares focados na usabilidade, para serem usados de forma rápida e eficiência</p>
            </div>
          </div>
        </div>
        <div class="timeline col-md-6" style="display: -webkit-box!important;">
          <div class="">
            <div class="timeline-yr">
              <span>Seguros</span>
            </div>
            <div class="timeline-info">
              <h3><span>Segurança de Dados</span></h3>
              <p>Utilizamos as melhores formas de implementação de segurança de dados para garantir a integridade de suas informações. </p>
            </div>
          </div>

          <div class="">
            <div class="timeline-yr">
              <span>Personalizados</span>
            </div>
            <div class="timeline-info">
              <h3><span>Focados em seus requisitos</span></h3>
              <p>Criamos softwares personalizados, atendendo minuciosamente as demandas de seu projeto.</p>
            </div>
          </div>

        </div>
      </div>

      
    </div>
  </div>
</section>