<!-- ABOUT -->
<section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
  <div class="container">
    <div class="row">

      <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
        <div class="about-text">
          <small class="small-text">Bem vindo ao <span class="mobile-block">Coders Negócios</span></small>
          <h3 class="animated animated-text">
            <span class="mr-2">Somos uma empresa especializada em:</span>
            <div class="animated-info w-100">
              <span class="animated-item w-100">Soluções de Ti para seu Negócio</span>
              <span class="animated-item w-100" style="size:4px;">Garantir a segurança de seus dados</span>
              <span class="animated-item">Aprimorar o processo de seu Negócio</span>
            </div>
          </h3>

          <p>Nosso negócio é aprimorar o seu Negócio! Desenvolvemos softwares de qualidade para aumentar a produtividade
            de seu Empreendimento.</p>

          <div class="custom-btn-group mt-4 justify-content-end">
            <!-- <a href="#" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Download Resume</a> -->
            <a routerLink="/contato" routerLinkActive="active"
              class="btn custom-btn custom-btn-bg custom-btn-link">Solicitar Orçamento</a>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-12 col-12">
         <div class="about-image svg">
          <img src="./assets/images/project/gif1.gif" class="img-fluid" style="z-index: 9000;" alt="svg image">
        </div> 

        <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets/images/project/imagemHome.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/images/project/imagemHome2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets/images/project/imagemHome.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark text-info" aria-hidden="true"></span>
            <span class="sr-only bg-dark text-info">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark text-info " aria-hidden="true"></span>
            <span class="sr-only bg-dark text-info ">Next</span>
          </a>
        </div> -->
      </div> 

    </div>
  </div>
</section>